Sanae/tests/integration_test_fid.txt
Sanae/tests/sanae_simulation.log
Sanae/tests/single_spin_test.txt
Sanae/tests/test_solution
Sanae/tests/test_bloch_relax
Sanae/tests/test_env
Sanae/tests/magnetization_evolution.txt
Sanae/tests/test_binding
Sanae/tests/test_cleanex
Sanae/tests/test_cleanex_basic.dat
Sanae/tests/test_cpmg
Sanae/tests/test_cr_13C.dat
Sanae/tests/test_cr_nodw_13C.dat
Sanae/tests/tmp/cpmg_utils.cpp
Sanae/tests/tmp/cpmg_utils.h
